.card {
    width: 100%;
}


$device-phone: 576px;
$device-tablet: 768px;
$device-desktop: 992px;
$device-large-desktop: 1200px;


$sidewidth: 210px;
$sidewidth-phone: 100px;



.box {
  color:white;
  padding:10px;
  text-align:center;
  border-style: inset;
}

.green {
  background:green;
}

.blue {
  background:blue;
}

mat-hint {
  @media screen and (max-width : $device-phone) {
    display: none;
  }
}

mat-form-field  {
  width: $sidewidth;
  @media screen and (max-width : $device-phone) {
    width: $sidewidth-phone;
  }
}

.side-buttons {
  display: block;
  @media screen and (max-width : $device-phone) {
    width: $sidewidth-phone;
  }
}

.side-buttons button {
  width: 100px;
  @media screen and (max-width : $device-phone) {
    width: $sidewidth-phone;
  }
}

.home-container {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 5px;
}
.home-side {
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
}

fieldset {
  border:1px solid lightgray;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  margin-right: 10px;
  color: grey;
  @media screen and (max-width : $device-phone) {
    font-size: 0.8em;
  }
}
legend {
  color: grey;
}

.search {
  width: $sidewidth;
  @media screen and (max-width : $device-phone) {
    width: $sidewidth-phone;
  }
}

.price-right-align {
  text-align: right;
}

input.price-right-align::-webkit-outer-spin-button,
input.price-right-align::-webkit-inner-spin-button {
  display: none;
}

input.price-right-align {
  -moz-appearance: textfield;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  border-radius: 50%;
  background: black; /* Black background */
  cursor: pointer; /* Cursor on hover */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: $sidewidth;
  @media screen and (max-width : $device-phone) {
    width: $sidewidth-phone;
  }
  height: 3px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.vertical-spacer {
  margin-top: 5px;
}

