<div class="container">
    <div class="row">
        <mat-card class="card">
            <mat-card-content>
                <div class="row">
                    <div class="col-3">
                                <div class="side-buttons">
                                  <button mat-raised-button>Herstel&nbsp;
                                    <mat-icon>autorenew</mat-icon>
                                  </button>
                                  <span class="ml-2"></span>
                                  <button mat-raised-button type="submit">Zoek&nbsp;
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                                <div class="mt-3"></div>
                          
                                <mat-form-field class="search">
                                  <mat-label>Zoek tekst</mat-label>
                                  <input matInput type="search"
                                         placeholder="Zoek op titel">
                                </mat-form-field>
                          
                                <div class="mt-3"></div>
                          
                                <mat-form-field >
                                  <mat-label>Min prijs</mat-label>
                                  <input matInput class="price-right-align">
                                  <span matPrefix>&euro;&nbsp;</span>
                                  <span matSuffix>,00</span>
                                  <mat-hint>Geef de laagste prijs of gebruik de slider</mat-hint>
                                </mat-form-field>
                                <div>
                                  <input type="range" min="0" max="500" value="250" class="slider">
                                </div>
                                <div class="mt-3"></div>
                          
                                <mat-form-field>
                                  <mat-label>Max prijs</mat-label>
                                  <input matInput class="price-right-align">
                                  <span matPrefix>&euro;&nbsp;</span>
                                  <span matSuffix>,00</span>
                                  <mat-hint>Geef de hoogste prijs of gebruik de slider</mat-hint>
                                </mat-form-field>
                                <div>
                                  <input type="range" min="0" max="5000" value="250" class="slider">
                                </div>
                          
                                <div class="mt-3"></div>
                          
                                <mat-form-field>
                                  <mat-label>Min wijziging</mat-label>
                                  <input matInput class="price-right-align">
                                  <span matPrefix>&euro;&nbsp;</span>
                                  <span matSuffix>,00</span>
                                  <mat-hint>Geef de min prijs verandering of gebruik de slider</mat-hint>
                                </mat-form-field>
                                <div>
                                  <input type="range" min="0" max="500" value="250" class="slider">
                                </div>
                                <div class="mt-3"></div>
                          
                                <fieldset>
                                  <legend>Status:</legend>
                                  <div formArrayName="availabilities">
                                    <div>
                                      <section>
                                        <input type="checkbox" formControlName="selected"/> 1
                                        <input type="checkbox" formControlName="selected"/> 1
                                        <input type="checkbox" formControlName="selected"/> 1
                                      </section>
                                    </div>
                                  </div>
                                </fieldset>
                          
                                <div class="mt-3"></div>
                          
                                <mat-form-field>
                                  <mat-label>Historie datum dd-mm-yyyy</mat-label>
                                  <input matInput formControlName="priceHistoryDate" [matDatepicker]="picker">
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                  <mat-hint>Toon alleen produkten met een historie datum</mat-hint>
                                </mat-form-field>
                          
                    </div>
                    <div class="col-9">
                        <app-vacancy-table></app-vacancy-table>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>