/* You can add global styles to this file, and also import other style files */
@import "./app/materialcustom.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: gray }
a { color: white; }
.card { min-width: 80%; }
.table-container { display: flex; flex-direction: column; min-width: 100%; }
.mat-table { overflow: auto; max-height: 500px; }
